version: "3.3"

services:
  app:
    # TODO PIN - may need to make copy in FredHutch acct:
    image: swarmpit/swarmpit:latest
    environment:
      - SWARMPIT_DB=http://db:5984
      - SWARMPIT_INFLUXDB=http://influxdb:8086
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 60s
      timeout: 10s
      retries: 3
    networks:
      - sc-swarm-net
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.swarmpit.rule=Host(`swarmpit.fredhutch.org`)"
        - "traefik.http.routers.swarmpit-secured.rule=Host(`swarmpit.fredhutch.org`)"
        - "traefik.http.routers.swarmpit.entrypoints=web,web-secured"
        - "traefik.http.services.swarmpit.loadbalancer.server.port=8080" # it seems you always need to give traefik a port so it 'notices' the service
        - "traefik.http.routers.swarmpit.tls=true"
      resources:
        limits:
          cpus: "0.50"
          memory: 1024M
        reservations:
          cpus: "0.25"
          memory: 512M
      placement:
        constraints:
          - node.role == manager

  db:
    image: couchdb:2.3.0
    volumes:
      - db-data:/opt/couchdb/data
    networks:
      - sc-swarm-net
    deploy:
      resources:
        limits:
          cpus: "0.30"
          memory: 256M
        reservations:
          cpus: "0.15"
          memory: 128M

  influxdb:
    image: influxdb:1.8
    volumes:
      - influx-data:/var/lib/influxdb
    networks:
      - sc-swarm-net
    deploy:
      resources:
        limits:
          cpus: "0.60"
          memory: 512M
        reservations:
          cpus: "0.30"
          memory: 128M

  agent:
    image: swarmpit/agent:latest
    environment:
      - DOCKER_API_VERSION=1.35
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - sc-swarm-net
    deploy:
      mode: global
      labels:
        - "traefik.enable=true"
        - "swarmpit.agent=true"
      resources:
        limits:
          cpus: "0.10"
          memory: 64M
        reservations:
          cpus: "0.05"
          memory: 32M

networks:
  sc-swarm-net:
    external: true

volumes:
  db-data:
    driver: local
    driver_opts:
      type: nfs
      device: "${DB_DATA_PATH}"
      o: addr=${NFS_SERVER},rw
  influx-data:
    driver: local
    driver_opts:
      type: nfs
      device: "${INFLUX_DATA_PATH}"
      o: addr=${NFS_SERVER},rw
